* { padding: 0; margin: 0; }

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-bottom: 25px;
}
#wrapper { 
	margin: 0 auto;
	width: 1276px;
}

#header {
	height: 53px;
	background-image: url('../images/header.png');
	vertical-align: middle;
	background-repeat: repeat-x;
}
.headerContent {
	margin: 0 auto;
	width:1276px;
}
.headerLogo {
	margin: 0 auto;
	font-family:'Arial';
	font-weight: bold;
	font-size: 14px;
	float:left;
	padding-top:14px;
	color: white;
}
.headerText {
	margin: 0 auto;
	font-family:'Arial';
	font-weight: bold;
	font-size: 12px;
	float:right;
	width:470px;
	border:0px;
}
.headerMenuItem {
	color:white;
	text-decoration:none;
	float:left;
	padding-left:27px;
	padding-right:10px;
	background-image: url("../images/headerDivider.png");
	background-repeat:no-repeat;
	height: 48px;
	line-height: 3.8;
	border: 0px;
}
.headerMenuItemDropDownHeader {
	color:white;
	text-decoration:none;
	float:left;
	padding-left:27px;
	padding-right:10px;
	background-image: url("../images/headerDivider.png");
	background-repeat:no-repeat;
	height: 48px;
	line-height: 3.8;
	border: 0px;
}
*.headeDropDownItem {	
	border: 1px solid;
	cursor: pointer;
	background-repeat: repeat-x;
	background-position: bottom left;
	background-image: url(/Start/rfRes/menu_item_bg.png.jsf?v=4.3.5.Final&db=eAFjZGBmZBBgZBBhYGBgAgABMgAt&ln=org.richfaces.images);
	z-index: 10;
	text-decoration:none;
	background-image: url("../images/headerDropDownBg.png");
	background-repeat:repeat-x;
	border: 0px;
	padding:0px;
	z-index: 10;
}

*.headeDropDownItem: HOVER{
	color:red;
}

.*.rf-ddm-lbl {
	padding:2px 5px;
	padding:0px;	
}
.dropDownMenu {
	background-color: red;
}	

*.rf-p {        
	border-width: 0px;          
}      

.pageTitle {
	font-size: 48px;
	border-width: 0px;
	border-style: none;
	font-family:'Arial';
	font-weight: bold;
	color: #484e5a;

}

.pageSubTitle {
	font-size: 24px;
	border-width: 0px;
	border-style: none;
	font-family:'Arial';
	padding-left: 45px;
	text-decoration: none;
	color: #484e5a;
}

.pageSubTitle:HOVER {
	font-size: 24px;
	border-width: 0px;
	border-style: none;
	font-family:'Arial';
	padding-left: 45px;
	text-decoration: underline;
	color: #484e5a;
}

.pageSubTitleActive {
	font-size: 24px;
	border-width: 0px;
	border-style: none;
	font-family:'Arial';
	padding-left: 45px;
	text-decoration: underline;
	color: #484e5a;
}
.table {
	width: 1276px;
	margin: 0 auto;
}

.table, td {
	padding: 5px;
}

.leftColumn {
	font:'Arial';
	font-weight: bold;;
	font-size: 14px;
	color: #4a4f58;
	text-align:right;
}

.rf-cal-inp {
	width: 182px;
    border: 1px solid #c4c4c4; 
    height: 25px; 
    width: 275px; 
    font-size: 16px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
}
.rf-cal-btn {
	padding-left: 15px;
}

.searchEntry { 
	width: 182px;
    border: 1px solid #c4c4c4; 
    height: 25px; 
    width: 275px; 
    font-size: 16px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
} 
input.rf-au-inp {
	border: 0px;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	width: 182px;
    height: 25px; 
    width: 275px; 
    font-size: 16px; 
}
.rf-au-lst-scrl {
	width:400px;
	background-color: #414650;
	color:white;
}
.searchEntry:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
} 
.searchEntryPreformatted { 
    border: 1px solid #c4c4c4; 
    height: 25px; 
    width: 275px; 
    font-size: 13px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
 	white-space: pre;
} 
.searchEntryPreformatted:focus { 
    border: 1px solid #c4c4c4; 
    height: 25px; 
    width: 275px; 
    font-size: 13px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
 	white-space: pre;
} 
.searchButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.searchButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.searchButton:active {
	position:relative;
	top:1px;
}
.searchResultsTable {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:2px;
	-webkit-border-bottom-left-radius:2px;
	border-bottom-left-radius:2px;
	
	-moz-border-radius-bottomright:2px;
	-webkit-border-bottom-right-radius:2px;
	border-bottom-right-radius:2px;
	
	-moz-border-radius-topright:2px;
	-webkit-border-top-right-radius:2px;
	border-top-right-radius:2px;
	
	-moz-border-radius-topleft:2px;
	-webkit-border-top-left-radius:2px;
	border-top-left-radius:2px;
}.searchResultsTable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.searchResultsTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:2px;
	-webkit-border-bottom-right-radius:2px;
	border-bottom-right-radius:2px;
}
.searchResultsTable table tr:first-child td:first-child {
	-moz-border-radius-topleft:2px;
	-webkit-border-top-left-radius:2px;
	border-top-left-radius:2px;
}
.searchResultsTable table tr:first-child td:last-child {
	-moz-border-radius-topright:2px;
	-webkit-border-top-right-radius:2px;
	border-top-right-radius:2px;
}.searchResultsTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:2px;
	-webkit-border-bottom-left-radius:2px;
	border-bottom-left-radius:2px;
}.searchResultsTable tr:hover td{
	background-color:#575d66;
		

}
.searchResultsTable td{
	vertical-align:middle;
	
	background-color:#454b56;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}


.searchResultsTable th{
	vertical-align:middle;
	background:-o-linear-gradient(bottom, #535b67 5%, #3f454f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #535b67), color-stop(1, #3f454f) );
	background:-moz-linear-gradient( center top, #535b67 5%, #3f454f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#535b67", endColorstr="#3f454f");	background: -o-linear-gradient(top,#535b67,3f454f);
	background-color:#454b56;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
	height: 28px;
}
.searchResultsTable .rf-dt-ftr-c {
	text-align:center;
	color:white;
}
.searchResultsTable .rf-dt-ftr-c a:LINK {
	text-align:center;
	color:white;
}
.searchResultsTable tr:last-child td{
	border-width:0px 1px 0px 0px;
	text-align
}.searchResultsTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.searchResultsTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.searchResultsTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.popupPanelRegular {
	height: 600px;
	width: 800px;
	background-color: #ffffff;
}
.rf-pp-cnt {
	background-color:white;
}
.rf-cal-popup {
	background-color:white;
}
.pageErrorMessage {
	color:red;
}
.rf-dt-ftr-c {
	text-align:center;
}
.rf-tb {
	border:0px;
}